<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
      <p>
        Bookers2への会員登録が完了しました。<br />
        ご登録ありがとうございます。
      </p>
  </body>
</html>
